[submodule "babylon-payments-service"]
	path = babylon-payments-service
	url = https://github.com/jofaval/babylon-payments-service.git
	branch = main
[submodule "babylon-customers-service"]
	path = babylon-customers-service
	url = https://github.com/jofaval/babylon-customers-service.git
	branch = main
[submodule "babylon-catalog-service"]
	path = babylon-catalog-service
	url = https://github.com/jofaval/babylon-catalog-service
	branch = main
[submodule "babylon-reviews-service"]
	path = babylon-reviews-service
	url = https://github.com/jofaval/babylon-reviews-service
	branch = main
[submodule "babylon-recommendations-service"]
	path = babylon-recommendations-service
	url = https://github.com/jofaval/babylon-recommendations-service
	branch = main
