[submodule "babylon-payments-service"]
	path = babylon-payments-service
	url = https://github.com/jofaval/babylon-payments-service.git
	branch = main
[submodule "babylon-customers-service"]
	path = babylon-customers-service
	url = https://github.com/jofaval/babylon-customers-service.git
	branch = main
[submodule "babylon-catalog-service"]
	path = babylon-catalog-service
	url = https://github.com/jofaval/babylon-catalog-service
	branch = main
[submodule "babylon-reviews-service"]
	path = babylon-reviews-service
	url = https://github.com/jofaval/babylon-reviews-service
	branch = main
[submodule "babylon-recommendations-service"]
	path = babylon-recommendations-service
	url = https://github.com/jofaval/babylon-recommendations-service
	branch = main
[submodule "babylon-carts-service"]
	path = babylon-carts-service
	url = https://github.com/jofaval/babylon-carts-service
	branch = main
[submodule "babylon-inventory-service"]
	path = babylon-inventory-service
	url = https://github.com/jofaval/babylon-inventory-service
	branch = main
[submodule "babylon-orders-service"]
	path = babylon-orders-service
	url = https://github.com/jofaval/babylon-orders-service
	branch = main
[submodule "babylon-reporting-services"]
	path = babylon-reporting-services
	url = https://github.com/jofaval/babylon-reporting-services
	branch = main
[submodule "babylon-comments-service"]
	path = babylon-comments-service
	url = https://github.com/jofaval/babylon-comments-service
	branch = main
